@{ Layout = "_Layout"; }

<h1>UnSugar Coded</h1>
<h2>Edit User Account Info</h2>
<hr>

<form action="/logins/@Model.GetId()/update" method="post">
  <label for="newName">User name:</label>
  <input type="text" name="newName" value="@Model.GetName()">
  <label for="newEmail">Email address:</label>
  <input type="text" name="newEmail" value="@Model.GetEmail()">
  <label for="newHeight">Height in inches:</label>
  <input type="text" name="newHeight" value="@Model.GetHeight()">
  <label for="newWeight">Weight in pounds:</label>
  <input type="text" name="newWeight" value="@Model.GetWeight()">
  <button type="submit">Update Profile</button>
</form>

<h4><a href="/logins/@Model.GetId()">Return to previous page</a></h4>
<h4><a href="/"></a>Return to home</h4>
