@{ Layout = "_Layout"; }
@using UnSugarCodedCS.Models;
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel='stylesheet' href='~/css/styles.css'>
</head>
<center>

  <body>
    <h1 style="color:white;">UnSugar Coded</h1>

    <h3 style="color:white;">User Accounts</h3>

    @if(Model.Count != 0)
    {
    <ul class="list-group material_list_group">
      @foreach(var login in Model)
      {
      <li class="list-group-item material_list_group_item">
        <h4><a href="/logins/@login.GetId()/logbooks/new">@login.GetName()</a></h4>

        <button class=" btn-sm">
          <a href="/logins/@login.GetId()/edit">Edit Profile</a>
        </button>
        <form action="/logins/@login.GetId()/delete" method="post">
          <button class=" btn-danger btn-sm" type="submit" name="button">Delete Profile</button>
        </form>
      </li>
      }
    </ul>
    }

    <h4><a href="/logins/new">Create a new account</a></h4>
    <h4><a href="/">Return Home</a></h4>
  </body>
</center>

</html>