<!DOCTYPE html>

<html>

<body>
  @for (int i = 0; i < ViewBag.Lunch.Count; i++)
  {
  @ViewBag.Lunch[@i].GetLunchFood();
  <br />
  @ViewBag.Lunch[@i].GetLunchSugar();
  <br />
  @ViewBag.Lunch[@i].GetLunchStampTime();
  <br />
  @ViewBag.Lunch[@i].GetLunchCarb();
  <br />
  <form action="/logins/@Model.GetId()/lunch/deletelunch" method="post">
      <button class="btn btn-sm" type="submit" name="button">Delete lunch</button>
  </form>
  }
<h4><a href="/logins/@Model.GetId()/new">Return to logbook</a></h4>
<h4><a href="/">Return to Home</a></h4>
</body>

</html>
