body{
		background-color: #8baee5;
	}
	.contact{
		padding: 4%;
		height: 400px;
	}
	.col-md-3{
		background: #ff9b00;
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}


  .material_list_group .material_list_group_item {
    color: #fff;
    font-weight: 400;
    border-radius: 0;
    background-color: #cbd9ef;
    -webkit-transition: background-color 0.2s ease-out 0s;
    transition: background-color 0.2s ease-out 0s;
  }
  .material_list_group .material_list_group_item:hover {
    background-color: #336ea1;
  }
  .material_list_group .disabled:hover {
    background-color: #4092d9;
    color: #ffffff;
  }
  .material_list_group .material_badge {
    background-color: #fff;
    border-color: #ffffff;
  }
