<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

</head>

<body>
  <h2>Welcome to UnsugarCoded your app to track sugars.</h2>

  <h3><a href="/logins">Let's get started</a></h3>



</body>

</html>