<form action="/showForm" method="post">
  <label for="userName">User Name</label>
  <input id="userName" name="userName">
  <label for="userEmail">User Email</label>
  <input id="userEmail" name="userEmail">
  <button type="submit">Log In</button>

</form>