<!DOCTYPE html>

<html>

<body>
  @foreach (var logbook in Model)
  {
  @logbook.GetSnackFood();
  <br />
  @logbook.GetSnackSugar();
  <br />
  @logbook.GetSnackStampTime();
  <br />
  @logbook.GetSnackCarb();
  <br />

  <form action="/logins/@login.GetId()/logbooks/@logbook.GetId()/brea" method="post">
      <button class="btn btn-sm" type="submit" name="button">Delete Profile</button>
    </form>
  }
</body>

</html>
