<!DOCTYPE html>

<html>

<body>
  @foreach (var logbook in Model)
  {
  @logbook.GetBreakfastFood();
  <br />
  @logbook.GetBreakfastSugar();
  <br />
  @logbook.GetBreakfastStampTime();
  <br />
  @logbook.GetBreakfastCarb();
  <br />
  }
</body>

</html>
