<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
  <style type="text/css">
    body {
      font-family: Arial;
      font-size: 10pt;
    }
    #breakfastForm {
      display: none;
    }
  </style>
</head>

<body>



  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
  <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
  <script type="text/javascript">
    $(function() {
      $("#btnSubmit").click(function() {
        $("#btnSubmit").fadeOut();
        $("#breakfastForm").fadeIn();
      });
      $("#food").autocomplete({
        source: function(request, response) {
          $.ajax({
            url: '/sugar/' + request.term,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function(data) {
              response($.map(data, function(item) {
                return item;
              }))
            },
            error: function(response) {
              alert(response.responseText);
            },
            failure: function(response) {
              alert(response.responseText);
            }
          });
        },
        select: function(e, i) {
          $.ajax({
            url: '/sugarLevel/' + i.item.value,
            type: 'post',
            success: function(data, textStatus, jQxhr) {
              $("#sugarLevel").val(data);
            },
            error: function(jqXhr, textStatus, errorThrown) {}
          });
        },
        minLength: 1
      });
    });
  </script>

  <input type="button" id="btnSubmit" value="Breakfast" />

  <form method="post" action="/breakfast" id="breakfastForm">
    <input type="text" id="food" name="Food"/>
    <input type="text" id="sugarLevel" name="sugarLevel" />
    <input type="datetime-local" id="stampTime" name="stampTime" value="2018-06-12T19:30"/>
    <input type="text" id="carb" name="carb" />

    <input type="submit" id="breakfastSubmit" value="Submit" />
  </form>



</body>

</html>
