@using UnSugarCodedCS.Models;

<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
  <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
  <link rel='stylesheet' href='~/css/styles.css'>
  <title>Index</title>
  <style type="text/css">
    body {
      font-family: Arial;
      font-size: 10pt;
    }

    #breakfastForm {
      display: none;
    }

    #lunchForm {
      display: none;
    }

    #dinnerForm {
      display: none;
    }

    #snackForm {
      display: none;
    }
  </style>
</head>

<body>
  <script type="text/javascript">
    $(function() {
      console.log("document loaded");
      $("#btnSubmit").click(function() {
        console.log("btnSubmit clicked");
        $("#btnSubmit").fadeOut();
        $("#btnSubmitDinner").fadeOut();
        $("#btnSubmitSnack").fadeOut();
        $("#btnSubmitLunch").fadeOut();
        $("#breakfastForm").fadeIn();

      });
      $("#btnSubmitLunch").click(function() {
        $("#btnSubmitLunch").fadeOut();
        $("#btnSubmitDinner").fadeOut();
        $("#btnSubmitSnack").fadeOut();
        $("#lunchForm").fadeIn();
        $("#btnSubmit").fadeOut();

      });

      $("#btnSubmitDinner").click(function() {
        $("#btnSubmitDinner").fadeOut();
        $("#btnSubmitSnack").fadeOut();
        $("#dinnerForm").fadeIn();
        $("#btnSubmit").fadeOut();
        $("#btnSubmitLunch").fadeOut();

      });

      $("#btnSubmitSnack").click(function() {
        $("#btnSubmitSnack").fadeOut();
        $("#btnSubmitSnack").fadeOut();
        $("#snackForm").fadeIn();
        $("#btnSubmit").fadeOut();
        $("#btnSubmitLunch").fadeOut();
        $("#btnSubmitDinner").fadeOut();

      });
      $("#food").autocomplete({
        source: function(request, response) {
          $.ajax({
            url: '/sugar/' + request.term,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function(data) {
              response($.map(data, function(item) {
                return item;
              }))
            },
            error: function(response) {
              alert(response.responseText);
            },
            failure: function(response) {
              alert(response.responseText);
            }
          });
        },
        select: function(e, i) {
          $.ajax({
            url: '/sugarLevel/' + i.item.value,
            type: 'post',
            success: function(data, textStatus, jQxhr) {
              $("#sugarLevel").val(data);
            },
            error: function(jqXhr, textStatus, errorThrown) {}
          });
        },
        minLength: 1
      });


      $("#foodLunch").autocomplete({
        source: function(request, response) {
          $.ajax({
            url: '/sugar/' + request.term,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function(data) {
              response($.map(data, function(item) {
                return item;
              }))
            },
            error: function(response) {
              alert(response.responseText);
            },
            failure: function(response) {
              alert(response.responseText);
            }
          });
        },
        select: function(e, i) {
          $.ajax({
            url: '/sugarLevel/' + i.item.value,
            type: 'post',
            success: function(data, textStatus, jQxhr) {
              $("#sugarLevelLunch").val(data);
            },
            error: function(jqXhr, textStatus, errorThrown) {}
          });
        },
        minLength: 1
      });



      $("#foodDinner").autocomplete({
        source: function(request, response) {
          $.ajax({
            url: '/sugar/' + request.term,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function(data) {
              response($.map(data, function(item) {
                return item;
              }))
            },
            error: function(response) {
              alert(response.responseText);
            },
            failure: function(response) {
              alert(response.responseText);
            }
          });
        },
        select: function(e, i) {
          $.ajax({
            url: '/sugarLevel/' + i.item.value,
            type: 'post',
            success: function(data, textStatus, jQxhr) {
              $("#sugarLevelDinner").val(data);
            },
            error: function(jqXhr, textStatus, errorThrown) {}
          });
        },
        minLength: 1
      });


      $("#foodSnack").autocomplete({
        source: function(request, response) {
          $.ajax({
            url: '/sugar/' + request.term,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function(data) {
              response($.map(data, function(item) {
                return item;
              }))
            },
            error: function(response) {
              alert(response.responseText);
            },
            failure: function(response) {
              alert(response.responseText);
            }
          });
        },
        select: function(e, i) {
          $.ajax({
            url: '/sugarLevel/' + i.item.value,
            type: 'post',
            success: function(data, textStatus, jQxhr) {
              $("#sugarLevelSnack").val(data);
            },
            error: function(jqXhr, textStatus, errorThrown) {}
          });
        },
        minLength: 1
      });
    });
  </script>


  <div class="btn from-top" id="btnSubmit">Breakfast</div>
  <form method="post" action="/logins/@Model.GetId()/logbooks/breakfast" id="breakfastForm">
    <input type="hidden" name="loginId" value="@Model.GetId()" id="loginId" />
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 login_bg">
          <h2>Breakfast</h2>
          <div class="form-group">
            <input placeholder="*Enter food" required type="text" id="food" name="food" class="form-control" />
          </div>
          <div class="form-group">
            <input placeholder="*Carbs" required type="text" id="sugarLevel" name="sugarLevel" class="form-control">
          </div>

          <div class="form-group">
            <input placeholder="*Stamp Time" required type="datetime-local" id="stampTime" name="stampTime" class="form-control">
          </div>

          <div class="form-group">
            <input placeholder="*Blood Sugar" required type="text" id="carb" name="carb" class="form-control">
          </div>

          <input type="submit" id="breakfastSubmit" value="Submit" class="btn btn-block login_btn" />
        </div>
      </div>
    </div>
  </form>


  <div class="btn from-right" id="btnSubmitLunch">Lunch</div>
  <form method="post" action="/logins/@Model.GetId()/logbooks/lunch" id="lunchForm">
    <input type="hidden" name="loginId" value="@Model.GetId()" id="loginId" />
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 login_bg">
          <h2>Lunch</h2>
          <div class="form-group">
            <input placeholder="*Enter food" required type="text" id="foodLunch" name="foodLunch" class="form-control" />
          </div>
          <div class="form-group">
            <input placeholder="*Carbs" required type="text" id="sugarLevelLunch" name="sugarLevelLunch" class="form-control">
          </div>



          <div class="form-group">
            <input placeholder="*Stamp Time" required type="datetime-local" id="stampTimeLunch" name="stampTimeLunch" class="form-control">
          </div>


          <div class="form-group">
            <input placeholder="*Blood Sugar" required type="text" id="carbLunch" name="carbLunch" class="form-control">
          </div>


          <input type="submit" id="LunchSubmit" value="Submit" class="btn btn-block login_btn" />
        </div>
      </div>
    </div>
  </form>



  <div class="btn from-middle" id="btnSubmitDinner">Dinner</div>
  <form method="post" action="/logins/@Model.GetId()/logbooks/dinner" id="dinnerForm">
    <input type="hidden" name="loginId" value="@Model.GetId()" id="loginId" />
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 login_bg">
          <h2>Dinner</h2>
          <div class="form-group">
            <input placeholder="*Enter food" required type="text" id="foodDinner" name="foodDinner" class="form-control" />
          </div>
          <div class="form-group">
            <input placeholder="*Carbs" required type="text" id="sugarLevelDinner" name="sugarLevelDinner" class="form-control">
          </div>



          <div class="form-group">
            <input placeholder="*Stamp Time" required type="datetime-local" id="stampTimeDinner" name="stampTimeDinner" class="form-control">
          </div>


          <div class="form-group">
            <input placeholder="*Blood Sugar" required type="text" id="carbDinner" name="carbDinner" class="form-control">
          </div>


          <input type="submit" id="dinnerSubmit" value="Submit" class="btn btn-block login_btn" />
        </div>
      </div>
    </div>
  </form>




  <div class="btn from-bottom" id="btnSubmitSnack">Snack</div>
  <form method="post" action="/logins/@Model.GetId()/logbooks/snack" id="snackForm">
    <input type="hidden" name="loginId" value="@Model.GetId()" id="loginId" />
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 login_bg">
          <h2>Snack</h2>
          <div class="form-group">
            <input placeholder="*Enter food" required type="text" id="foodSnack" name="foodSnack" class="form-control" />
          </div>
          <div class="form-group">
            <input placeholder="*Carbs" required type="text" id="sugarLevelSnack" name="sugarLevelSnack" class="form-control">
          </div>



          <div class="form-group">
            <input placeholder="*Stamp Time" required type="datetime-local" id="stampTimeSnack" name="stampTimeSnack" class="form-control">
          </div>


          <div class="form-group">
            <input placeholder="*Blood Sugar" required type="text" id="carbSnack" name="carbSnack" class="form-control">
          </div>


          <input type="submit" id="snackSubmit" value="Submit" class="btn btn-block login_btn" />
        </div>
      </div>
    </div>
  </form>



  <button class="btn-sm btn-dark">
    <h4><a href="/">Return to Home</a></h4>
  </button>

</body>

</html>