<!DOCTYPE html>

<html>

<body>
  @for (int i = 0; i < ViewBag.Dinner.Count; i++)
  {
  @ViewBag.Dinner[@i].GetDinnerFood();
  <br />
  @ViewBag.Dinner[@i].GetDinnerSugar();
  <br />
  @ViewBag.Dinner[@i].GetDinnerStampTime();
  <br />
  @ViewBag.Dinner[@i].GetDinnerCarb();
  <br />
  <form action="/dinner/deletedinner" method="post">
      <button class="btn btn-sm" type="submit" name="button">Delete dinner</button>
  </form>
  }
<h4><a href="/logins/@Model.GetId()/logbooks/new">Return to logbook</a></h4>
<h4><a href="/">Return to Home</a></h4>
</body>

</html>
